.form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:60%;
  }
  .form-group{
    margin-top: 10px !important;
  }
  .btn-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
  }